<html lang="en">
    <%- include('./partials/head.ejs') %>
    <body>
        <%- include('./partials/nav.ejs') %>
        <div class="movies content">
            <form action="/mngr" method="POST">
                <b><h1>Management Alterations To The Films Database</h1></b></br> 
            <% if (theMovies.length > 0) { %>
                <% theMovies.forEach(moviesList => { %>
                    <b><%= moviesList.title %> <%= moviesList.genres %> <%= moviesList.rated %> <%= moviesList.year %></b>
                    <a href="/mngr/<%=moviesList._id%>/edit?genres=<%=moviesList.genres%>&title=<%=moviesList.title%>&rated=<%=moviesList.rated%>&year=<%=moviesList.year%>">edit</a>
                    <a href="/mngr/<%=moviesList._id%>/delete?title=<%=moviesList.title%>&year=<%=moviesList.year%>">delete</a>
                    <a href="/mngr/<%=moviesList._id%>/replace?title=<%=moviesList.title%>&genres=<%=moviesList.genres%>&rated=<%=moviesList.rated%>&year=<%=moviesList.year%>">replace</a></br> 
                    <% }) %>
            <% } %>
        </form>
        </div>
    </body>
    <%- include('./partials/foot.ejs') %>
</html>