<html lang="en">
    <%- include('./partials/head.ejs') %>
    <body>
        <%- include('./partials/nav.ejs') %>
        <div class="movies content">
            <form action="/movies" method="POST">
                <b><h1>Please Enjoy Our Movie Selection</h1> </b></br> 
                <b>List of All Movies: </b>
                <% if (theMovies.length > 0) { %>
                    <% theMovies.forEach(moviesList => { %>
                        <b>
                            <ul>
                                <li>
                                    <%= `Title: ${moviesList.title}` %> 
                                </li>
                                <li>
                                    <%= `Genres: ${moviesList.genres}` %> 
                                </li>
                                <li>
                                    <%= `Rating: ${moviesList.rated}` %> 
                                </li>
                                <li>
                                    <%= `Release Year: ${moviesList.year}` %></b>
                                </li>
                            </ul>
                        <% }) %>
                <% } %>
            </form>
    </body>
    <%- include('./partials/foot.ejs') %>
</html>