<html lang="en">
    <%- include('./partials/head.ejs') %>
    <body>
        <%- include('./partials/nav.ejs') %>
        <div class="create content">
            <form action="/mngr/<%= locals.id %>?_method=PUT" method="POST">
                <label>Replace Movie Attributes:</br>
                    <input type="text" name="genres" value="<%= locals.genres %>" required>
                    <input type="text" name="title" value="<%= locals.title %>" required>
                    <input type="text" name="rated" value="<%= locals.rated %>" required>
                    <input type="text" name="year" value="<%= locals.year %>" required>
                </label></br>
                <button>PUT</button>
            </form>
        </div>
    </body>
    <%- include('./partials/foot.ejs') %>
</html>